.menu-right {
	float: right;
}


#divContent {
	clear: both;
	margin: 20px auto;
	display: block;
}
#numLoaded {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* Project items styling */
ul.listProjectItems {
	/*list-style-type: none;*/
	margin: 0;
}
.projectItem {
	padding: 2px 1px 2px 2px;
	border-radius: 2px;
	display: inline-block;
}
.projectItem:hover, #cursor ~ .projectItem {
	background-color: #f2f2f2;
}
.projectItemLi {
	/*margin: 1px 0;*/
}
.projectItemLi:first-child {
	margin-top: 0.5em;
}
.projectItemLi:last-child {
	margin-bottom: 0.5em;
}
.projectItemLi>.projectItemRow button.pure-button {
	margin: 0 2px;
	padding: 2px 4px;
}
.projectItemLi>.projectItemRow button.buttonLeft {
	margin-left: -25.5px;
	margin-right: -3px;
	background-color: white;
}
.projectItemLi>.projectItemRow button.buttonLeft>i {
	width: 16px;
}

/* Cursor styling */
#cursor {
	position: absolute;
	/*margin-left: -26px;*/
	left: 12px;
	margin-top: 8px;
}
.projectItemRow>#cursor {
	/*margin-left: -50px;*/
	left: 26px;
	margin-top: 3px;
}


/* Button container styling*/
.buttonContainer { 
	display: none; /* Dont show by default */
	padding-left: 20px;
}
.projectItemRow:hover>.buttonContainer, .buttonContainer:hover { /* Show when hovering over row and the container */
	display: inline-block;
}
.projectItem:active + .buttonContainer { /*Dont show during dragging */
	display: none;
}


/* List dragging css */
.projectItem:active {
	background-color: #d9d9d9;
	cursor: all-scroll;
}



/* Overwrite popup css */
.ngdialog.ngdialog-theme-default {
	padding-top: 20px;
}
textarea {
	resize: none;
}


/* Add icon rules */
.fa-rotate-45 {
	transform: rotate(45deg);
}