.menu-right {
	float: right;
}


#divContent {
	clear: both;
	margin: 0 auto;
	display: block;
}



/* Overwrite popup css */
.ngdialog.ngdialog-theme-default {
	padding-top: 20px;
}


textarea {
	resize: none;
}