<!DOCTYPE html>
<html ng-app="app" ng-controller="main">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="img/ProjectManagerFavicon.ico" />
		<script src="http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.0/js/ngDialog.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
		<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
		<script src="js/settings.js"></script>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.0/css/ngDialog-theme-default.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.0/css/ngDialog-theme-plain.min.css">
		<link rel="stylesheet" href="lib/css/ngDialog.css"> <!-- //cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.0/css/ngDialog.min.css -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/buttonTooltip.css">
		<title>{{menuTitle}}</title>
	</head>
	<body>
		<div id="divMenu" class="pure-menu pure-menu-open pure-menu-horizontal">
			<a class="pure-menu-heading" href="#">{{menuTitle}}</a>
			<ul>
				<li ng-show="loggedIn" ng-click="onCreateProjectClick()"><a href="#">Create project</a></li>
				<li ng-model="status" ng-repeat="status in itemStatuses">
					<label for="{{status.id}}" class="pure-checkbox">
			            <input ng-model="status.show" id="{{status.id}}" type="checkbox">Show '{{status.text}}' items
			        </label>
				</li>
			</ul>
			<ul class="menu-right">
				<li ng-hide="loggedIn" ng-click="onLoginClick()"><a href="#">Login</a></li>
				<li ng-hide="loggedIn" ng-click="onSignupClick()"><a href="#">Sign Up</a></li>
				<li ng-show="loggedIn" ng-click="onLogoutClick()"><a href="#">Logout</a></li>
			</ul>
		</div>
		<div id="divContent" class="pure-u-11-12">
			<div ng-repeat="project in projects">
				<button data-itemID="{{project._id.$oid}}" class="pure-button projectRootButton" ng-click="onCreateItemChildClick(project)">Create item for '{{project.name}}'</button>
				<button data-tooltip="{{tooltips.edit}}" 
						ng-click="onUpdateProjectClick(project)" 
						class="pure-button projectRootEdit">
						<i class="fa fa-pencil"></i>
				</button> <!-- Edit item button -->
				<button data-tooltip="{{tooltips.delete}}"
						ng-click="submitDeleteProject(project)" 
						class="pure-button projectRootDelete">
						<i class="fa fa-trash"></i>
				</button> <!-- Delete -->
				<ul class="listProjectItems" ng-model="project.items" ui-sortable="sortableOptions">
					<li class="projectItemLi" 
						ng-repeat="item in project.items" 
						ng-init="parentItems = project.items; parentItem = project"
						ng-include="'templateProjectItem'" 
						data-itemID="{{item._id.$oid}}"
						ng-click="onSetSelectedItem(item, $event)">
					</li>
				</ul>
				<br>
			</div>
		</div>
		<cursor id="cursor" ng-model="selectedItem" ng-show="projects.length>0 && showCursor"></cursor>
		<span id="numLoaded">Number of times loaded: {{numLoaded}}</span>

		<script type="text/ng-template" id="templateProjectItem">
			<span class="projectItemRow">

			<button class="pure-button buttonLeft"
					ng-init="setInitValue(item)"
					ng-click="toggleShowChildItems(item)"
					ng-show="item.items.length > 0" onfocus="this.blur();">
				<i ng-class="{true: 'fa fa-chevron-down', false: 'fa fa-chevron-right', 'null': 'fa fa-chevron-right'}[getShowChildItems(item)]"></i>
			</button>
			<span class="projectItem" 
				  ng-style="{'text-decoration': getStatusTextStyle(item.status)}">
				{{item.description}}
			</span>
			<span class="buttonContainer">
				<button data-tooltip="{{tooltips.edit}}" 
						ng-click="onUpdateItemClick(item)" 
						class="pure-button">
						<i class="fa fa-pencil"></i>
				</button> <!-- Edit item button -->
				<button data-tooltip="{{status.tooltip}}" 
						class="pure-button" 
						ng-repeat="status in itemStatuses" 
						ng-click="submitUpdateItemStatus(item, status.text)" 
						ng-disabled="status.text == item.status">
						<i class="fa {{status.iconPath}}"></i>
				</button>
				<button data-tooltip="{{tooltips.createPrevious}}"
						ng-click="onCreateItemSiblingClick(project, parentItems[$index-1], item, item)" 
						class="pure-button">
						<i class="fa fa-arrow-up"></i>
				</button> <!-- Create previous sibling -->
				<button data-tooltip="{{tooltips.createNext}}"
						ng-click="onCreateItemSiblingClick(project, item, parentItems[$index+1], item)" 
						class="pure-button">
						<i class="fa fa-arrow-down"></i>
				</button> <!-- Create next sibling -->
				<button data-tooltip="{{tooltips.createChild}}"
						ng-click="onCreateItemChildClick(project, item); setShowChildItems(item, true)"
						class="pure-button" >
						<i class="fa fa-rotate-45 fa-arrow-right"></i>
				</button> <!-- Create child -->
				<button data-tooltip="{{tooltips.delete}}"
						ng-click="submitDeleteItem(item, parentItems, $event)" 
						class="pure-button">
						<i class="fa fa-trash"></i>
				</button> <!-- Delete -->
			</span>
			</span>
			<ul class="listProjectItems" 
				ng-model="parentItem.items" 
				ng-init="parentItem = item" 
				ui-sortable="sortableOptions"
				ng-show="getShowChildItems(item)">
				<li class="projectItemLi" 
					ng-repeat="item in item.items" 
					ng-init="parentItems = parentItem.items" 
					ng-include="'templateProjectItem'"
					data-itemID="{{item._id.$oid}}"
					ng-click="onSetSelectedItem(item, $event)">
				</li>
			</ul>
		</script>
		<script type="text/ng-template" id="templateSignup">
			<form class="pure-form pure-form-stacked" ng-submit="onSignupSubmit()">
			    <fieldset>
			        <legend>Sign up</legend>

					<label for="name">Name</label>
			        <input ng-model="user.name" id="name" type="text" placeholder="Name">

			        <label for="email">Email</label>
			        <input ng-model="user.email" id="email" type="email" placeholder="Email">

			        <label for="password">Password</label>
			        <input ng-model="user.password" id="password" type="password" placeholder="Password">

			        <label for="password2">Password</label>
			        <input ng-model="user.password2" id="password2" type="password" placeholder="Repeat password">

			        <label for="remember" class="pure-checkbox">
			            <input ng-model="remember" id="remember" type="checkbox"> Remember me
			        </label>

			        <button type="submit" class="pure-button pure-button-primary">Sign up</button>
			    </fieldset>
			</form>
		</script>
		<script type="text/ng-template" id="templateLogin">
			<form class="pure-form pure-form-stacked" ng-submit="onLoginSubmit()">
			    <fieldset>
			        <legend>Login</legend>

			        <label for="email">Email</label>
			        <input ng-model="user.email" id="email" type="email" placeholder="Email">

			        <label for="password">Password</label>
			        <input ng-model="user.password" id="password" type="password" placeholder="Password">

			        <label for="remember" class="pure-checkbox">
			            <input ng-model="remember" id="remember" type="checkbox"> Remember me
			        </label>

			        <button type="submit" class="pure-button pure-button-primary">Login</button>
			    </fieldset>
			</form>
		</script>
		<script type="text/ng-template" id="templateProject">
			<form class="pure-form pure-form-stacked" ng-submit="projectSubmitFunction()">
			    <fieldset>
			        <legend>{{popupTitle}}</legend>

			        <label for="name">Name</label>
			        <input ng-model="project.name" id="name" type="text" placeholder="Name">

					<label for="priority">Priority</label>
			        <input class="pure-input-1-4" ng-init="project.priority=1" ng-model="project.priority" id="priority" type="number" placeholder="Priority">

			        <label for="category">Category</label>
			        <select ng-init="project.category='Work'" ng-model="project.category" id="category">
			        	<option>Work</option>
			        	<option>Private</option>
			        </select>

			        <button type="submit" class="pure-button pure-button-primary">{{submitButtonTitle}}</button>
			    </fieldset>
			</form>
		</script>
		<script type="text/ng-template" id="templateItem">
			<form class="pure-form pure-form-stacked" ng-submit="itemSubmitFunction()">
			    <fieldset>
			        <legend>{{popupTitle}}</legend>

			        <label for="description">Description</label>
			        <!-- <textarea class="pure-input-1" rows="2" ng-model="item.description" id="description" type="text" placeholder="Description" autofocus> -->
			        <input class="pure-input-1" ng-model="item.description" id="description" type="text" placeholder="Description">
			        </textarea>

					<label for="priority">Priority</label>
			        <input class="pure-input-1-4" ng-init="item.priority=1" ng-model="item.priority" id="priority" type="number" placeholder="Priority">

			        <button type="submit" class="pure-button pure-button-primary">{{submitButtonTitle}}</button>
			    </fieldset>
			</form>
		</script>
	</body>
	<script src="js/app.js"></script>
	<script src="js/cursor.js"></script>
	<script src="js/main.js"></script>
	<script src="js/db.js"></script>	
	<script src="js/popup.js"></script>
</html>